@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erişim Engellendi (403) | Notika - Notika Yönetici Şablonu</title>
    <meta name="description" content="Bu sayfaya erişim izniniz yok. Lütfen yöneticinizle iletişime geçin.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/notika-master/notika/green-horizotal/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/font-awesome.min.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.carousel.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.theme.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.transitions.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/animate.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/normalize.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/wave/waves.min.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/notika-custom-icon.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/main.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/style.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/responsive.css">
    <script src="/notika-master/notika/green-horizotal/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="error-page-area">
        <div class="error-page-wrap">
            <i class="notika-icon notika-close"></i>
            <h2>HATA <span class="counter">403</span></h2>
            <p>Üzgünüz, bu sayfaya erişim izniniz yok. Lütfen yöneticinizle iletişime geçin veya uygulamamızda başka bir şey bulmaya çalışın.</p>
            <a href="/Message/Inbox/" class="btn">Ana Sayfa</a>
            <a href="/Login/UserLogin/" class="btn error-btn-mg">Giriş Yap</a>
        </div>
    </div>
    <script src="/notika-master/notika/green-horizotal/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/bootstrap.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/wow.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/jquery-price-slider.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/owl.carousel.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/jquery.scrollUp.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/meanmenu/jquery.meanmenu.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/counterup/jquery.counterup.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/counterup/waypoints.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/counterup/counterup-active.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/sparkline/sparkline-active.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.resize.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/flot/flot-active.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/knob/jquery.knob.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/knob/jquery.appear.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/knob/knob-active.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/wave/waves.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/wave/wave-active.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/chat/jquery.chat.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/todo/jquery.todo.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/plugins.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/main.js"></script>
</body>

</html>